<div id="theme-section-footer" class="theme-section">
    <div data-section-id="footer" data-section-type="footer"
    >


        <footer id="footer" class="footer mt-0  text-center text-lg-left">
            <div class="footer__content py-lg-10">
                <div class="container">
                    <div class="d-lg-flex align-items-lg-center py-15 py-lg-0">
                        <div class="pb-15 pb-lg-0">
                            <div class="row mb-45 d-lg-none"></div>
                            <div class="footer__copyright pt-lg-0 mt-20 mt-lg-0"><p class="mb-0">

                                &copy; 2019 Shella Fashion Store HTML. All Rights Reserved. Ecommerce Software by
                                HTML. HTML Theme by <a href="https://mpthemes.net/" class="btn-link">MPIthemes</a>.


                            </p></div>
                        </div>
                        <div class="d-flex justify-content-lg-center align-items-center py-15 py-lg-0 ml-lg-auto">
                            <div class="footer__social-media">
                                <div class="social-media d-flex flex-wrap justify-content-center justify-content-lg-start">


                                    <a href="https://www.facebook.com/" target="_blank"
                                       class="d-flex align-items-center mb-6 mx-15 mx-lg-0 mr-lg-10"

                                       data-js-tooltip
                                       data-tippy-content="Facebook"
                                       data-tippy-placement="top"
                                       data-tippy-distance="6"

                                    >
                                        <i>
                                            <svg aria-hidden="true" focusable="false" role="presentation"
                                                 class="icon icon-social-facebook" viewBox="0 0 264 512">
                                                <path d="M76.7 512V283H0v-91h76.7v-71.7C76.7 42.4 124.3 0 193.8 0c33.3 0 61.9 2.5 70.2 3.6V85h-48.2c-37.8 0-45.1 18-45.1 44.3V192H256l-11.7 91h-73.6v229"/>
                                            </svg>
                                        </i>
                                    </a><a href="https://twitter.com/" target="_blank"
                                           class="d-flex align-items-center mb-6 mx-15 mx-lg-0 mr-lg-10"

                                           data-js-tooltip
                                           data-tippy-content="Twitter"
                                           data-tippy-placement="top"
                                           data-tippy-distance="6"

                                >
                                    <i>
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                             class="icon icon-social-twitter" viewBox="0 0 512 512">
                                            <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/>
                                        </svg>
                                    </i>
                                </a><a href="https://plus.google.com/" target="_blank"
                                       class="d-flex align-items-center mb-6 mx-15 mx-lg-0 mr-lg-10"

                                       data-js-tooltip
                                       data-tippy-content="Google"
                                       data-tippy-placement="top"
                                       data-tippy-distance="6"

                                >
                                    <i>
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                             class="icon icon-social-google" viewBox="0 0 640 512">
                                            <path d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z"/>
                                        </svg>
                                    </i>
                                </a><a href="https://www.instagram.com/" target="_blank"
                                       class="d-flex align-items-center mb-6 mx-15 mx-lg-0 mr-lg-10"

                                       data-js-tooltip
                                       data-tippy-content="Instagram"
                                       data-tippy-placement="top"
                                       data-tippy-distance="6"

                                >
                                    <i>
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                             class="icon icon-social-instagram" viewBox="0 0 448 512">
                                            <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
                                        </svg>
                                    </i>
                                </a><a href="https://www.youtube.com/" target="_blank"
                                       class="d-flex align-items-center mb-6 mx-15 mx-lg-0 mr-lg-10"

                                       data-js-tooltip
                                       data-tippy-content="Pinterest"
                                       data-tippy-placement="top"
                                       data-tippy-distance="6"

                                >
                                    <i>
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                             class="icon icon-social-pinterest" viewBox="0 0 496 512">
                                            <path d="M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1 15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0 36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3.8-3.4 5-20.3 6.9-28.1.6-2.5.3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9 113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9 60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248 111 248 248z"/>
                                        </svg>
                                    </i>
                                </a><a href="https://www.instagram.com/" target="_blank"
                                       class="d-flex align-items-center mb-6 mx-15 mx-lg-0 mr-lg-10"

                                       data-js-tooltip
                                       data-tippy-content="Youtube"
                                       data-tippy-placement="top"
                                       data-tippy-distance="6"

                                >
                                    <i>
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                             class="icon icon-social-youtube" viewBox="0 0 576 512">
                                            <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/>
                                        </svg>
                                    </i>
                                </a><a href="https://www.behance.net/" target="_blank"
                                       class="d-flex align-items-center mb-6 mx-15 mx-lg-0 mr-lg-10"

                                       data-js-tooltip
                                       data-tippy-content="Behance"
                                       data-tippy-placement="top"
                                       data-tippy-distance="6"

                                >
                                    <i>
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                             class="icon icon-social-behance" viewBox="0 0 576 512">
                                            <path d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2.6-8.7.6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z"/>
                                        </svg>
                                    </i>
                                </a><a href="https://www.skype.com/" target="_blank"
                                       class="d-flex align-items-center mb-6 mx-15 mx-lg-0 mr-lg-10"

                                       data-js-tooltip
                                       data-tippy-content="Skype"
                                       data-tippy-placement="top"
                                       data-tippy-distance="6"

                                >
                                    <i>
                                        <svg aria-hidden="true" focusable="false" role="presentation"
                                             class="icon icon-social-skype" viewBox="0 0 448 512">
                                            <path d="M424.7 299.8c2.9-14 4.7-28.9 4.7-43.8 0-113.5-91.9-205.3-205.3-205.3-14.9 0-29.7 1.7-43.8 4.7C161.3 40.7 137.7 32 112 32 50.2 32 0 82.2 0 144c0 25.7 8.7 49.3 23.3 68.2-2.9 14-4.7 28.9-4.7 43.8 0 113.5 91.9 205.3 205.3 205.3 14.9 0 29.7-1.7 43.8-4.7 19 14.6 42.6 23.3 68.2 23.3 61.8 0 112-50.2 112-112 .1-25.6-8.6-49.2-23.2-68.1zm-194.6 91.5c-65.6 0-120.5-29.2-120.5-65 0-16 9-30.6 29.5-30.6 31.2 0 34.1 44.9 88.1 44.9 25.7 0 42.3-11.4 42.3-26.3 0-18.7-16-21.6-42-28-62.5-15.4-117.8-22-117.8-87.2 0-59.2 58.6-81.1 109.1-81.1 55.1 0 110.8 21.9 110.8 55.4 0 16.9-11.4 31.8-30.3 31.8-28.3 0-29.2-33.5-75-33.5-25.7 0-42 7-42 22.5 0 19.8 20.8 21.8 69.1 33 41.4 9.3 90.7 26.8 90.7 77.6 0 59.1-57.1 86.5-112 86.5z"/>
                                        </svg>
                                    </i>
                                </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#header" class="footer__back-to-top d-flex position-lg-fixed flex-center"
           data-js-button-back-to-top="600">
            <i>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-014"
                     viewBox="0 0 24 24">
                    <path d="M11.791 21.505a.598.598 0 0 1-.439-.186.601.601 0 0 1-.186-.439V4.883l-4.551 4.57a.649.649 0 0 1-.449.177.652.652 0 0 1-.449-.176.652.652 0 0 1-.176-.449c0-.169.059-.319.176-.449l5.625-5.625a2.48 2.48 0 0 1 .107-.068c.032-.02.068-.042.107-.068a.736.736 0 0 1 .468 0c.039.026.075.049.107.068.032.02.068.042.107.068l5.625 5.625c.117.13.176.28.176.449a.652.652 0 0 1-.176.449.877.877 0 0 1-.215.127.596.596 0 0 1-.468 0 .877.877 0 0 1-.215-.127l-4.551-4.57V20.88a.6.6 0 0 1-.186.439.59.59 0 0 1-.437.186z"/>
                </svg>
            </i><span class="d-lg-none mt-4 ml-2">TOP</span>
        </a>
    </div>

    <script>
        Loader.require({
            type: "script",
            name: "footer"
        });
    </script>


</div>