<template id="template-search-ajax">
    <div class="col-12 col-lg-2">

        <div class="product-search d-flex flex-row flex-lg-column align-items-start align-items-lg-stretch mb-10">
            <div class="product-search__image position-relative mr-10 mr-lg-0">
                <a href="#" class="d-block"><img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="></a>
            </div>
            <div class="product-search__content d-flex flex-column align-items-start mt-lg-15">
                <div class="product-search__title mb-3">
                    <h3 class="h6 m-0">
                        <a href="#"></a>
                    </h3>
                </div>
                <div class="product-search__price mb-10">
                    <span class="price" data-js-product-price><span></span></span>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="template-cart-ajax">
    <div>

        <div class="product-cart d-flex flex-row align-items-start mb-20" data-js-product data-product-variant-id="">
            <div class="product-cart__image mr-15">
                <a href="#" class="d-block">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
                </a>
            </div>
            <div class="product-cart__content d-flex flex-column align-items-start">
                <div class="product-cart__title mb-3">
                    <h3 class="h6 m-0">
                        <a href="#"></a>
                    </h3>
                </div>
                <div class="product-cart__variant"></div>
                <div class="product-cart__price mt-10 mb-10">
                    <span class="product-cart__quantity"></span> <span>x</span> <span class="price"><span></span></span>
                </div>
                <a href="cart/change?line=&amp;quantity=0"
                   class="product-cart__remove btn-link js-product-button-remove-from-cart">Remove</a></div>
        </div>
    </div>
</template>
<template id="template-wishlist-ajax">
    <div>

        <div class="product-store-lists d-flex flex-row align-items-start mb-20" data-js-product data-product-handle=""
             data-product-variant-id="">
            <div class="product-store-lists__image mr-15">
                <a href="#" class="d-block">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
                </a>
            </div>
            <div class="product-store-lists__content d-flex flex-column align-items-start">
                <div class="product-store-lists__title mb-3">
                    <h3 class="h6 m-0">
                        <a href="#"></a>
                    </h3>
                </div>
                <div class="product-store-lists__variant"></div>
                <div class="product-store-lists__price mt-10 mb-10">
                    <span class="price" data-js-product-price><span></span></span>
                </div>
                <span class="product-store-lists__remove btn-link js-store-lists-remove-wishlist">Remove</span></div>
        </div>
    </div>
</template>
<template id="template-compare-ajax">
    <div>

        <div class="product-store-lists d-flex flex-row align-items-start mb-20" data-js-product data-product-handle=""
             data-product-variant-id="">
            <div class="product-store-lists__image mr-15">
                <a href="#" class="d-block">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
                </a>
            </div>
            <div class="product-store-lists__content d-flex flex-column align-items-start">
                <div class="product-store-lists__title mb-3">
                    <h3 class="h6 m-0">
                        <a href="#"></a>
                    </h3>
                </div>
                <div class="product-store-lists__variant"></div>
                <div class="product-store-lists__price mt-10 mb-10">
                    <span class="price" data-js-product-price><span></span></span>
                </div>
                <span class="product-store-lists__remove btn-link js-store-lists-remove-compare">Remove</span></div>
        </div>
    </div>
</template>