$screen-xs-down: 0px;
$screen-sm-down: 540px;
$screen-md-down: 777px;
$screen-lg-down: 1024px;
$screen-xl-down: 1259px;

$screen-xs-up: 0px;
$screen-sm-up: 541px;
$screen-md-up: 778px;
$screen-lg-up: 1025px;
$screen-xl-up: 1260px;
